@font-face {
    font-family: vogue;
    src: url(../font/Vogue.ttf) format('ttf');
    src: url(../font/Vogue.eot) format('eot');
    src: url(../font/Vogue.woff) format('woff')
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 300;
    src: url(../font/NanumBarunGothicLight.eot);
    src: local('Nanum Barun Gothic Light'), local('NanumBarunGothicLight'), url(../font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'), url(../font/NanumBarunGothicLight.woff2) format('woff2'), url(../font/NanumBarunGothicLight.woff) format('woff'), url(../font/NanumBarunGothicLight.ttf) format('truetype')
}

@font-face{font-family:'Nanum Myeongjo';font-style:normal;font-weight:300;src:url(../font/NanumMyeongjo-Regular.eot);src:local('Nanum Myeongjo Regular'),local('NanumMyeongjo-Regular'),url(../font/NanumMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),url(../font/NanumMyeongjo-Regular.woff) format('woff'),url(../font/NanumMyeongjo-Regular.ttf) format('truetype')}

*{margin:0;padding:0; box-sizing:border-box;}

a{display:block;text-decoration:none;color:#6a6a6a}

.clearboth{content:"";display:block;clear:both}
body{color:#6a6a6a;font-family:'Nanum Myeongjo'}

li{list-style:none}

img{width:100%}

iframe{width:100%}

.none{display:none;content:""}

i{display:block}

body,html{width:100%;height:100%;position:relative}

@keyframes ceNter {
    0% {
        background-color: rgba(0, 0, 0, .9);
        width: 50%;
        height: 50%
    }

    100% {
        background-color: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100%
    }
}

@keyframes ceNTer {
    0% {
        width: 100%;
        height: 100%;
        padding: 45% 10%;
        box-sizing: border-box
    }

    100% {
        width: 100%;
        height: 100%;
        padding: 45% 25%;
        box-sizing: border-box
    }
}


    
    .wrap{width:80%;margin:0 auto;padding-top:80px}
    
    section{width:100%}

    .sec {margin-top:65px;}
    
    section .m_video{display:none}
    
    .best{width:100%}
    
    .best .best_wrap{width:100%; position:relative}
    
    .best .best_wrap .txt{width:100%; margin-left:30px; font-weight:700; font-size:1.2em; box-sizing:border-box}
    
    .best .best_wrap .product{position:relative}

    .best .best_wrap .product .slick-arrow {position: absolute; top:50%; transform: translateY(-50%); width:30px; height:30px; font-size:0; z-index: 10;}

.best .best_wrap .product .slick-arrow.slick-prev {left:0;} 

.best .best_wrap .product .slick-arrow.slick-next {right:0;} 

.best .best_wrap .product .slick-dots {display:flex;justify-content: center;}
    
    .best .best_wrap .product ul li div img{transition:all .3s}
    
    .best .best_wrap .product ul li p{text-align:center}
    
    .best .best_wrap .product ul li div:hover img{filter:drop-shadow(10px 10px 11px #b3b3b3)}
    
    .best .best_wrap .product ul li div:hover p{color:#000}
    
    .lowew{width:100%;}
    
    .lowew .lowew_wrap{width:100%;position:relative}
    
    .lowew .lowew_wrap .bg_wrap .mobile_lowew{display:none}
    
    .lowew .lowew_wrap .bg_wrap{width:100%;position:relative}
    
    .lowew .lowew_wrap .bg_wrap .desktop_lowew{width:100%;background-image:url(../img/lowew.jpg);background-position:center;background-size:cover}
    
    .lowew .lowew_wrap .bg_wrap .desktop_lowew .txt{padding:100px;color:#fff}
    
    .lowew .lowew_wrap .bg_wrap .desktop_lowew h3{font-weight:400;font-size:35px}
    
    .lowew .lowew_wrap .bg_wrap .desktop_lowew p{margin-top:25px;font-size:20px;letter-spacing:.5px}
    
    .lowew .lowew_wrap .bg_wrap .desktop_lowew a{text-align:center;margin-top:50px;font-size:20px;color:#fff;width:150px;line-height:50px; height:50px; border:1px #fff solid;box-sizing:border-box;transition:all .3s}
    
    .lowew .lowew_wrap .bg_wrap .desktop_lowew a:hover{color:#6a6a6a;background-color:rgba(255,255,255,.5)}

    .main{width:100%; display:flex; justify-content:space-between;}
    
    .main .visual{width:49%; position: relative;}

    .main .visual .area {overflow: hidden;}

    .main .visual .over{width:100%;height:100%;background-color:rgba(0,0,0,0);color:#fff;transition:all .5s;position:absolute; top:0; left:0;}
    
    .main .visual .txt{width:100%}
    
    .main .visual:hover .over{background-color:rgba(0,0,0,.5)}

    .main .visual:hover .over .txt{opacity:1}
    
    .main .visual .over .txt{width:80%;position:absolute;left:50%;bottom:80px;margin-left:-40%;opacity:0;transition:all .5s}.main .visual .over .txt ul li{float:left}
    
    .main .visual .over .txt ul li:last-child{float:right;margin-top:45px}
    
    .main .visual .over .txt ul li h1{font-size:30px;font-weight:400;letter-spacing:3px}
    
    .main .visual .over .txt ul li a{font-size:20px;color:#fff;letter-spacing:1px}
    
    .main .visual .over .txt ul li a:hover{text-decoration:underline}
    
    .main .new{width:49%;height:100%}
    
    .main .new ul{width:100%;height:100%; display:grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto; grid-gap: 50px; }

    .main .new ul li .i_wrap{ width:100%;cursor:pointer; overflow:hidden;}
    
    .main .new ul li p{width:95%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:0 auto;margin-top:5px;text-align:center;color:#000}
    
    .main .new ul li div .i_wrap img{width:100%; transform:scale(1.1); transition:all .3s}

    .main .new ul li div:hover img{transform:scale(1.2)}
    
    .main .new ul li div:hover p{text-decoration:underline}
    
    .bodywash{width:100%;}
    
    .bodywash .limited{width:100%; display:flex;}
    
    .bodywash .limited>div{width:50%;}
    
    .bodywash .limited .org .bg_wrap{width:100%}
    
    .bodywash .limited .org .bg_wrap .bg_box{opacity:.8;width:100%;height:300px;background-image:url(../img/body.PNG);background-repeat:no-repeat;background-size:cover;transition:all .3s}
    
    .bodywash .limited .org .bg_wrap .bg_box .txt{width:100%;height:100%}
    
    .bodywash .limited .org .txt{width:100%;height:auto}
    
    .bodywash .limited .org .txt .txt_wrap{width:100%; box-sizing:border-box; padding:5%; font-size:1.3em;color:#fff;position:relative}
    
    .bodywash .limited .org .txt .txt1{font-size:30px}
    
    .bodywash .limited .org .txt .org_bodywash{margin-top:10px}
    
    .bodywash .limited .org .txt .more{float:right;margin-top:70px}
    
    .bodywash .limited .org .txt .more a{color:#fff}
    
    .bodywash .limited .org .txt .more a:hover{text-decoration:underline}
    
    .bodywash .limited .org .wash{width:100%}
    
    .bodywash .limited .org .wash ul{width:100%; display:flex;}
    
    .bodywash .limited .org .wash ul li{ padding:10px;box-sizing:border-box;}
    
    .bodywash .limited .org .wash ul li div{width:100%;text-align:center;position:relative}
    
    .bodywash .limited .org .wash ul li div img{width:80%;transition:all .3s}
    
    .bodywash .limited .org .wash ul li div img:hover{transform:scale(1.1);filter:drop-shadow(5px 5px 8px rgba(0, 0, 0, .3))}
    
    .bodywash .limited .org .wash ul li div p{width:95%;text-align:center;margin:0 auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
    
    .bodywash .limited .org .wash ul li div .new{position:absolute;top:20px;left:10px;font-size:20px;width:60px;height:60px;line-height:60px;border-radius:50%;color:#fff;background:#000}
    
    section .event{width:100%; background-image:url(../img/holder-background.png);background-repeat:no-repeat; background-size:cover}
    
    section .event .e_wrap{width:100%;padding:20px;display:flex; align-items: center; justify-content:space-around}
    
    section .event .e_wrap .txt{width:35%;text-align:center;display:flex;flex-flow:column wrap;justify-content:space-between}
    
    section .event .e_wrap .txt .title{width:100%;height:70px;font-family:vogue;font-size:2em;color:#000;text-align:center;line-height:70px;letter-spacing:7px;border-top:3px solid #000;border-bottom:1px solid #000}
    
    section .event .e_wrap .txt .con{width:100%;height:220px;color:#000;text-align:left;border-bottom:1px solid #000;font-size:1.5em;overflow:hidden}
    
    section .event .e_wrap .txt .con span{display:block; margin:65px auto}
    
    section .event .e_wrap .txt .bar{width:100%;font-size:25px;padding:20px 0}
    
    section .event .e_wrap .txt .more{margin-top:10px;font-size:25px}
    
    section .event .e_wrap .txt .more a{display:inline}section .event .e_wrap .txt .more a:hover{text-decoration:underline}
    
    section .event .e_wrap .frame p{margin-top:10px;float:right}
    
    section .event .e_wrap .box{width:100%;height:100%;border:1px solid #000;box-sizing:border-box;padding:9px}
    
    section .event .e_wrap .frame .box img{width:100%;}
    
    section .review{width:100%;}
    
    section .review .r_wrap{width:100%;margin:auto 0}
    
    section .review .r_wrap .r_txt{margin-left:30px;font-weight:700;font-size:1.2em;box-sizing:border-box}
    
    section .review .r_wrap .photo{width:100%;}
    
    section .review .r_wrap .photo ul{width:100%;margin-top:50px;display:flex;justify-content:space-between}
    
    section .review .r_wrap .photo ul li{overflow:hidden;position:relative}
    
    section .review .r_wrap .photo ul li a{width:500px;height:300px;background-size:cover; background-repeat: no-repeat; transition:all .8s; overflow: hidden;}

    section .review .r_wrap .photo .p1 {
    display:grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: auto; grid-gap: 20px;
    }
    
    section .review .r_wrap .photo .p1 li:first-child a{background-image:url(../img/1.PNG)}
    
    section .review .r_wrap .photo .p1 li:nth-child(2) a{background-image:url(../img/2.PNG)}
    
    section .review .r_wrap .photo .p1 li:nth-child(3) a{background-image:url(../img/3.PNG)}
    
    section .review .r_wrap .photo .p1 li:nth-child(4) a{background-image:url(../img/4.PNG)}
    
    section .review .r_wrap .photo .p1 li:nth-child(5) a{background-image:url(../img/5.PNG)}
    
    section .review .r_wrap .photo .p1 li:nth-child(6) a{background-image:url(../img/6.PNG)}
    
    section .review .r_wrap .photo .p1 li:nth-child(7) a{background-image:url(../img/7.PNG)}
    
    section .review .r_wrap .photo .p1 li:last-child a{background-image:url(../img/8.PNG)}
    
    section .review .r_wrap .photo ul a span{width:160px;height:30px;position:absolute;right:0;bottom:0;display:block;background-color:#000;transition:all .8s;text-align:center;line-height:30px;color:#fff}
    
    section .review .r_wrap .photo ul a span.active{width:100%;height:100%;line-height:300px;background-color:rgba(0,0,0,.5)}
    
    section .review .r_wrap .more{width:100%;height:40px;font-size:23px;text-align:center;border:1px solid #000;line-height:40px;margin-top:65px}
    
    section .review .r_wrap .more:hover a{text-decoration:underline}
    
    .m_look_btn{display:none}



@media screen and (max-width:1024px){
    
    .m_look_btn{display:block !important;}
    
    .more {display:none;}
    
    .wrap{width:100%; padding:0 30px; }
    
    .video{display:none;}
    
    .m_video {width:100%; display:block !important;}
    
    .m_video a{position: relative; width:100%;height:600px;background-image:url(../img/mobile-main.PNG);background-repeat:no-repeat;background-position:center;background-size:cover}
    
    .m_video a .txt { width:100%; position:absolute; bottom:30px; right:20px;}
    
    
    
    .m_video a .txt p{padding-bottom:10px;color:#fff;font-size:1.2em;text-align:right;}
    
    .m_video a .txt i{display:block;font-style:normal;color:#fff;font-size:1.1em;text-align:right;float:right}
    
    .lowew .lowew_wrap .bg_wrap .desktop_lowew{display:none}
    
    .lowew .lowew_wrap .bg_wrap .mobile_lowew{display:block; width:100%;height:600px;background-image:url(../img/mobile-lowew.jpg);background-position:center;background-size:cover;overflow:hidden}

    
    .lowew .lowew_wrap .bg_wrap .mobile_lowew {height:600px; }
    
    .lowew .lowew_wrap .bg_wrap .mobile_lowew .txt {padding:15% 10%; color:#fff;}
    
    .lowew .lowew_wrap .bg_wrap .mobile_lowew h3{font-weight:400;font-size:2em}
    
    .lowew .lowew_wrap .bg_wrap .mobile_lowew p{margin-top:25px;font-size:1.5em;letter-spacing:.5px}
    
    .main {flex-direction: column;}
    
    .main .visual {width:100%;}
    
    .main .new {width:100%;}
    
    .main .new ul {width:100%; grid-gap: 15px; margin-top:30px;}

    
    .m_look_btn{width:100%;height:50px;border:1px solid #000;text-align:center;margin-top:30px; font-size:1.2em;line-height:50px}
    
    .bodywash .limited .org .txt .txt_wrap {padding:20px;}
    
    .bodywash .limited .org .txt .txt1 {font-size:1.1em;}
    
    .bodywash .limited .org .txt .org_bodywash {margin-top:30px;}
    
    .bodywash .limited .org .wash ul li div .new {width:45px; height:45px; line-height: 45px;}
    
    .bodywash .limited .org .wash ul li {padding:0; width:50%;}
    
    .bodywash .limited {flex-direction: column;}
    
    .bodywash .limited>div {width:100%;}
    
    .bodywash .limited .place {display:none;}
    
    
    section .event .e_wrap .txt { padding:30px 0 ;}
    
    section .event .e_wrap .txt .bar {display:none;}
    
    section .event .e_wrap .frame {width:50%; display:block;}
    
    section .review .r_wrap .photo .p1 {grid-template-columns: 1fr 1fr;}
    
    
}

@media screen and (max-width:800px) {
    
    .m_video a {height:500px;}
    
    .lowew .lowew_wrap .bg_wrap .mobile_lowew {height:500px;}

    .main .new ul {grid-template-columns: 1fr;}
    
    
    section .event .e_wrap {width:100%; flex-direction: column;}
    
    section .event .e_wrap .txt {width:90%;}
    
    
    section .event .e_wrap .frame {display:none;}
    
    section .review .r_wrap .photo .p1 {grid-template-columns: 1fr;}
    
}


    




