    *{margin:0;padding:0; box-sizing:border-box;}

    a{display:block;text-decoration:none;color:#6a6a6a}

    .clearboth{content:"";display:block;clear:both}
    body{color:#6a6a6a;font-family:'Nanum Myeongjo'}

    li{list-style:none}

    img{width:100%}

    iframe{width:100%}

    .none{display:none;content:""}

    i{display:block}

    header{width:100%;height:65px;position:fixed;top:0;z-index:12;background:#fff}
    
    header .header_wrap{width:80%;height:100%; margin:0 auto; align-items: center; display:flex; justify-content:space-between}
    
    header .mo_navi{ width:33px; cursor: pointer;}
    
    header .logo{width:180px}
    
    header .logo a{width:100%}

    /*header>.header_wrap>nav {width:100px;}*/

    header>.header_wrap>.side_menu {width:90px; display:flex; align-items: center;  justify-content: space-between;}
  
    
     .tab_menu{width:50%; height:100%;background-color:#fff; position:fixed;top:0;left:-100%;z-index:15}

    .tab_menu .tab_header {width:100%; height:65px; padding:0 30px; display:flex; align-items: center; justify-content: space-between; border-bottom:1px #9e9e9e solid; }

    .tab_menu .tab_header .logo {width:180px;}

    .tab_menu .tab_header .close_btn {width:30px;}

    .tab_menu .tab_wrap nav { margin-top:20px;}

    .tab_menu>.tab_wrap nav > ul > li > a{position:relative; display:inline!important; height:35px;}

    .tab_menu>.tab_wrap nav >ul > li > a.on:after {content: ""; position:absolute; bottom:-5px; left:0; width:100%; background:#bba795; height:2px; }
    
    .tab_menu .tab_wrap ul li{font-size:1.1em;padding-top:10px;}
    
    .tab_menu .tab_wrap ul li ul{display:none}
    
    .tab_menu .tab_wrap ul li ul li{font-size:0.9em;padding-left:20px}
    
    .tab_menu .tab_wrap ul li ul{display:none}
    
    .tab_menu .tab_wrap{margin-top:30px; width:100%; padding:0 30px; box-sizing:border-box;}

    
    .tab_menu .tab_wrap .search{width:100%; display:flex; height:50px; justify-content: space-between; }
    
    .tab_menu .tab_wrap .search input{font-family:'Nanum Myeongjo'; width:90%;height:100%;font-size:1.2em;padding-left:10px;border:1px #6a6a6a solid}

    .tab_menu .tab_wrap .search input:focus {outline: none;}
    
    .tab_menu .tab_wrap .search .search_btn{width:8%; background-color:transparent;border:none; font-size:40px; margin:}
    
    .tab_bg{display:none;width:100%; height:100%; position:fixed; top:0;left:0;background:rgba(0,0,0,.3);z-index:13}
    


@media screen and (max-width: 1024px){
    
    header .logo {width:160px;}
    
    .tab_menu .tab_header .logo {width:160px;}
    
    header .header_wrap{width:100%; padding:0 30px; height:100%; align-items: center; display:flex; justify-content:space-between}
    
    header nav ul li p {display:none;}
    
    .tab_menu .tab_wrap .tab_logo{width:150px}
    
   /* .tab_menu .tab_wrap ul li:nth-child(2):hover p{width:100%}*/
    
    
    
    
    
}

@media screen and (max-width: 800px) {
    
    
     header .mo_navi{ width:6%; cursor: pointer;}
    
    header .logo a{width:100%}
    
    .tab_menu .tab_header .close_btn {width:5%;}

    header>.header_wrap>nav {width:20%;}
    
    .tab_menu {width:100%;}
    
    .tab_menu .tab_wrap .search input {font-size:1em;}
    
    .tab_menu .tab_wrap .search .search_btn {font-size:35px;}
}

@media screen and (max-width: 500px) {
    
    header .logo {width:120px;}
    
    .tab_menu .tab_header .logo {width:120px;}
    
    header>.header_wrap>.side_menu {width:6%;;}
    
    header>.header_wrap> .side_menu >.join {display:none;}
     
}